version: 2.1

# enable a job when tag created (tag create is ignored by default)
filters_always: &filters_always
  filters:
    tags:
      only: /.*/

# restrict a job to only run when a version tag (vNNNN) is created
filters_publish: &filters_publish
  filters:
    tags:
      only: /^v[0-9].*/
    branches:
      ignore: /.*/

matrix_goversions: &matrix_goversions
  matrix:
    parameters:
      goversion: ["24", "25"]

# Default version of Go to use for Go steps
default_goversion: &default_goversion "25"

executors:
  go:
    parameters:
      goversion:
        type: string
        default: *default_goversion
    docker:
      - image: cimg/go:1.<< parameters.goversion >>

jobs:
  test:
    parameters:
      goversion:
        type: string
        default: *default_goversion
    executor:
      name: go
      goversion: "<< parameters.goversion >>"
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-go-mod-{{ checksum "go.sum" }}
      - run: make test
      - store_test_results:
          path: ./unit-tests.xml
      - save_cache:
          key: v1-go-mod-{{ checksum "go.sum" }}
          paths:
            - /home/circleci/go/pkg/mod

  publish_github:
    docker:
      - image: cibuilds/github:0.13.0
    steps:
      - run:
          name: "Publish Release on GitHub"
          command: |
            echo "Creating GitHub release for tag ${CIRCLE_TAG}"
            ghr -draft -n ${CIRCLE_TAG} -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} ${CIRCLE_TAG}

workflows:
  build:
    jobs:
      - test:
          <<: *matrix_goversions
          <<: *filters_always
      - publish_github:
          <<: *filters_publish
          context: Honeycomb Secrets for Public Repos
          requires:
            - test
